@import "../../../scss/global-variables";

.edit-profile-dialog {
  .profile__title {
    margin: 12px 0;
  }
  .profile__body {
    .info-wrapper {
      &__value {
        padding: 5px 0;
        .uk-input {
          height: 30px;
          font-size: 14px;
        }
      }
    }
    .uk-button-primary {
      margin-top: 12px;
      &:hover {
        background: rgba($color-primary-blue, .8);
      }
    }
  }
}