@import "../../../scss/global-variables";
.header {
  .uk-navbar-container {
    background: transparent;
    .uk-logo {
      color: $color-white;

      font-style: italic;
    }
    .uk-navbar-item {
      height: 60px;
      padding: 0;
      > .logo-text {
        border-bottom: 1px solid $color-primary-orange;
      }
    }
    .uk-navbar-nav {
      > li > a {
        height: 60px;
        color: $color-white;
        &.uk-active {
          color: $color-primary-orange;
        }
        .logout-btn {
          padding: 4px 12px;
          text-transform: none;
          background: $color-primary-orange;
          border-radius: 4px;
          color: $color-primary-blue;
        }
      }

    }
  }
}